@media (min-width: 576px){
    .top-heroes-dashboar{
        display: grid;
        grid-template-areas: "a a a a";
    }
}
.cards{
    background: whitesmoke;
    padding: 1em;
    margin: 1em;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 5px 10px 0;
    display: flex;
    align-items: baseline;
}
h1{
    color: white;
    text-align: center
}
.hero-id {
    color: white;
    background-color: #405061;
    border-radius: 4px 0 0 4px;
    padding: 1em;
    position: relative;
    font-size: 18px;
    margin-right: 1em;
}